body,header,img,h1,h2,main,section,p,div,input,textarea,button,label,footer,hr{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #eeeeee;
   
}
header{
    background-color: #04133d;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
header img{
    width: 150px;
}
header h1{
    color: #fff;
    margin-left: 5px;
    font-weight: bold;
}

.app{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

section{
    background-color: #fff;
    box-shadow: 5px 5px 5px #808080;
    padding: 30px;
    width: 600px;
    color: #808080;
    text-align: center;
    overflow: hidden;
    position: relative;
}
section h2{
    font-weight: 400;
}
section p{
    margin: 10px 0;
}
.text-left{
    text-align: left;
}
section label{
    display: none;
}
section textarea{
    display: block;
    padding: 10px;
    width: 100%;
    height: 150px;
    max-width: 100%;
    min-width: 100%;
    max-height: 150px;
    min-height: 150px;
}
section button{
    background-color: #1480fa;
    color: #fff;
    border: none;
    text-transform: uppercase;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

footer{
    height: 400px;
    background-image: url("./../img/fundo-rodape.png");
    background-size: cover;
    background-attachment: fixed;
}

.resultado{
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(4 20 62 / 89%);
    transition: 0.5s;
}

.resultado.mostrarResultado{
    left: 0;
    transition: 0.5s;
}
.resultado span{
    float: right;
    margin: 20px;
    color:#fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: solid #fff 2px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.resultado p{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}